* {
  font-family: Helvetica, Arial, sans-serif;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4c6489;
}

#navigation li {
  float: left;
  border-right: 1px solid #8097b9;
}

#navigation li:last-child {
  border-right: none;
}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation #currentpage a {
  background: #d56e2d;
  color: white;
}

#navigation li a:hover {
  background-color: #8097b9;
}

#button-blue {
  background-color: #4c6489;
  color: white;
  height: 45px;
  width: 300px;
}

#button-green {
  background-color: green;
  color: white;
  height: 45px;
  width: 300px;
}

#sortable th {
  cursor: pointer;
}
